@{
    ViewData["Title"] = "New Contact Added";
}

<h1>New Contact added to the mailing list successfully!</h1>


@Html.ActionLink("Home", "Index")
<br />
@Html.ActionLink("Add new Contact", "Add")
<br />
@Html.ActionLink("View Contacts", "MailingList")