@model List<ClarkCodingChallenge.BusinessModels.Contact>
@{
    ViewData["Title"] = "Mailing List";
}
<h2>Mailing List</h2>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => contact.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(item => contact.LastName)
                </td>
                <td>
                    @Html.DisplayFor(item => contact.EmailAddress)
                </td>
            </tr>
        }
    </tbody>
</table>